# Backend build output'ları
/build/
config-server/build/
route-service/build/

# Root seviyesindeki out ve .idea
../out/
../.idea/

# IntelliJ ve Gradle
.idea/
*.iml
.gradle/

# Local config (API key vs için)
route-service/src/main/resources/application-local.yml
