########################
# Global Build Outputs #
########################
**/build/
**/out/
**/tmp/
**/libs/

########################
# IDE / Tooling Files  #
########################
.idea/
*.iml
.gradle/

########################
# Local Configs (Secrets)
########################
**/application-local.yml
**/application-docker.yml

########################
# Android Build Files
########################
mobile/roadifyMobile/android/app/build/
mobile/roadifyMobile/android/build/
