server:
  port: 0

spring:
  application:
    name: trip-planner-service

  datasource:
    url: jdbc:postgresql://localhost:5432/roadify
    username: roadify
    password: roadify
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info
